{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method='POST' action="/blog">
        <table>
            <tr>
                <td>
                    <label for="blogtitle">Title for your new blog:</label>
                </td>
                <td>
                    <input type="text" name="blog_title" value="{{ blog_title }}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="bodyblog">Your new blog:</label>
                </td>
                <td>
                    <textarea rows="6" cols="20" name="blog_body">{{ blog_body }}</textarea>
                </td>
            </tr>
        </table>
        <input type="submit" value="Add Entry" />
    </form>
   

{% endblock %}